body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	text-align: center;
	width: 100%;
	color: #fff;
	font-family: cursive;
	font-size: 4rem;
}

img {
	height: 100%;
}

@media screen and (max-width: 768px) {
	body {
		flex-direction: column;
	}

	h1 {
		font-size: 2rem;
	}
}
